*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}
.latest_project{
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest_project_content{
    padding: 2rem 0;
    background-color: #b9b9b9;
}
.latest_project_content p{
    text-align: center;
} */

.smallimg1
{
    width: 500px;
    height: 300px;
    margin-top: 60px;
   
    justify-content: center;

}


.smallimg1 img
{
    width: 100%;
    height: 100%;
   object-fit: cover;
}


.bigimg1
{
 width: 400px;
 height: 500px;
 margin-top: 40px;

}
.bigimg1 img
{
 width: 100%;
 height: 100%;
 object-fit: cover;

}